/* You can add global styles to this file, and also import other style files */

*{
  box-sizing: border-box;
}
.just{
  margin-left: 0px;
}

footer{
  color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.container{
  max-width: 100%;
}

.file-select {
  position: relative;
  display: inline-block;
}

.file-select::before {
  background-color: #5678EF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Seleccionar'; /* testo por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.file-select input[type="file"] {
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;
}

#src-file1::before {
  content: 'Seleccionar Archivo';
}
